<a href="/events">Events Dashboard</a>
<h3>Register</h3>
<form action="/users/create" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="user[first_name]" placeholder="First Name">
  <input type="text" name="user[last_name]" placeholder="Last Name">
  <input type="text" name="user[email]" placeholder="Email">
  <input type="text" name="user[location]" placeholder="Location">
    <%= select_tag("user[state_id]", options_from_collection_for_select(@states,"id", "name", params[:state_id].to_i)) %>
  <input type="text" name="user[password]" placeholder="Password">
  <input type="text" name="user[password_confirmation]" placeholder="Password Confirmation">
  <input type="submit" value="Register!">
</form>

<h3>Login</h3>
<form action="/sessions/new" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="user[email]" placeholder="Email">
  <input type="text" name="user[password]" placeholder="Password">
  <input type="submit" value="Login!">
</form>
